@import "bootstrap-sprockets";
@import "bootstrap";

nav.navbar{
  margin-bottom: 0;
}
#productsContainer{
  margin-top: 20px;
}
#productsContainer .thumbnail{
  height: 420px;
}
p.description{
  height: 90px;
  overflow: auto;
}
#productsContainer #categories{
  background-color: #eeeeee;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.4);
  position: fixed;
}
#productsContainer #categories + div{
  margin-left: 215px;
}
.price{
      width: 70px;
    /* float: right; */
    position: fixed;
    text-align: center;
    border-radius: 4px;
}
.navbar-nav > li.label-red > a{
  color: red;
  font-weigth: bold;
}
.navbar-nav > li.label-green > a{
  color:green;
  font-weigth: bold;
}